<!doctype html>
<html lang="<%= site.locale %>" class="scroll-smooth">
  <%= puts site %>
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>
  <body class="<%= data.layout %> <%= data.page_class %> bg-white relative min-h-screen overflow-y-scroll">
    <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource, current_locale: site.locale) %>

    <main class="mx-auto max-w-[1400px] px-4 sm:px-6 lg:px-8 space-y-24 lg:space-y-16 pt-36 pb-72">
      <%= yield %>
    </main>

    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
