<nav class="mb-8 sm:mb-24 fixed top-0 w-full z-50" data-controller="reveal" data-reveal-hidden-class="--open">
  <div class="bg-white shadow py-6">
    <div class="flex h-16 justify-between items-center max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-shrink-0">
        <a href="<%= relative_url(in_locale("/")) %>">
          <img class="h-16 w-auto" src="/images/logo.svg" alt="company_logo">
        </a>
      </div>


      <div class="max-md:hidden ml-6 flex space-x-4">
        <% current_path = @resource.relative_url %>

        <% ["home", "about", "approach", "services", "contact"].each do |path| %>        
          <% a_classes = (current_path == relative_url(in_locale("/#{path}/"))) || (path == "home" && current_path == relative_url(in_locale("/"))) ?
            "text-primary" : # current path
            "" # not current path  
          %>

          <% span_classes = (current_path == relative_url(in_locale("/#{path}/"))) || (path == "home" && current_path == relative_url(in_locale("/"))) ?
            "" : # current path
            "max-w-0 group-hover:max-w-full transition-all duration-500 bg-primary-light" # not current path  
          %>

          <a href="<%= relative_url in_locale("/#{path == "home" ? "" : path}") %>" class="group text-lg transition duration-300 <%= a_classes %>">
            <%= t("nav.#{path}") %>
            <span class="<%= span_classes %> block h-0.5"></span> <%# always %>
          </a>
        <% end %>
      </div>

      <div class="max-md:hidden flex space-x-4">
        <div class="flex">
          <% @resource.all_locales.each_with_index do |local_resource, index| %>
            <a href="<%= local_resource.relative_url %>" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-lg <%= @current_locale == t(local_resource.data.locale).to_sym ? "text-primary" : "text-gray-500 hover:border-gray-300 hover:text-gray-700"%>">
              <%= t(local_resource.data.locale).upcase %>
            </a>
            <% if index == 0 %>
              <div class="h-auto bg-black w-[1px] my-2"></div>
            <% end %>
          <% end %>
        </div>
        <%= render Shared::Button.new(type: "border", text: t("appointment_text"), path: "/") %>
      </div>


      <div class="-mr-2 flex items-center md:hidden h-full space-x-4">
        <!-- Mobile menu button -->
        <div class="flex">
          <% @resource.all_locales.each_with_index do |local_resource, index| %>
            <a href="<%= local_resource.relative_url %>" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-md <%= @current_locale == t(local_resource.data.locale).to_sym ? "text-primary" : "text-gray-500 hover:border-gray-300 hover:text-gray-700"%>">
              <%= t(local_resource.data.locale).upcase %>
            </a>
            <% if index == 0 %>
              <div class="h-auto bg-black w-[1px] my-2"></div>
            <% end %>
          <% end %>
        </div>

        <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-orange-50" data-reveal-target="item" data-action="click->reveal#toggle" aria-controls="mobile-menu" aria-expanded="false">
          <i class="fa-solid fa-bars text-2xl" style="color: lightsalmon"></i>
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div data-reveal-target="item" class="absolute top-0 w-full max-md:[&.--open]:translate-y-[34%] translate-y-[-100%] transition-transform duration-700 bg-white rounded-b-2xl shadow-2xl border-t">
    <div class="space-y-2 py-6 text-center">
      <!-- Current: "bg-indigo-50 border-indigo-500 text-indigo-700", Default: "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" -->

        <% ["home", "about", "approach", "services", "contact"].each do |path| %>        
          <% a_classes = (current_path == relative_url(in_locale("/#{path}/"))) || (path == "home" && current_path == relative_url(in_locale("/"))) ?
            "text-primary" : # current path
            "text-gray-500" # not current path  
          %>
          <a href="<%= relative_url in_locale("/#{path == "home" ? "" : path}") %>" class="block border-l-4 border-transparent py-2 pl-3 pr-4 font-medium hover:bg-orange-100 hover:text-gray-700 <%= a_classes %>"><%= t("nav.#{path}") %></a>
      <% end %>  
      <%= render Shared::Button.new(type: "standart", text: t("appointment_text"), path: "/") %>
    </div>
  </div>
</nav>
